.bitcoin-view {
	width: 480px;
	height: 540px;

	text-align: center;

	.symbol, .value, .updated {
		position: absolute;
		left: 0;
		right: 0;
	}

	.symbol {
		font-size: 256px;
		top: 40px;
	}

	.value {
		font-size: 96px;
		top: 336px;
	}

	.updated {
		position: absolute;
		bottom: 40px;
	}
}