.clock-view {
    width: 480px;
    height: 540px;
    visibility: hidden;
    top: 0;
    right: 0;
    text-align: center;

    .outer_face {
        $actual-size: 200px;
        $scale: 1.75;
        position: absolute;
        transform: scale($scale);
        transform-origin: left top;
        top: 40px;
        left: 50%;
        margin-left: - $actual-size * $scale / 2;
        width: $actual-size; /* width of clock */
        height: $actual-size; /* height of clock */
        border-radius: $actual-size / 2; /* clock round corner radius */
        background: white;
        box-shadow: inset 0 0 10px gray;
        border: 0 solid gray; /* thickness of outer border */

        &:before, &:after, .marker { /* time markers syle */
            content: "";
            position: absolute;
            width: 8px; /* width of 12-6 and 3-9 markers */
            height: 100%;
            background: black;
            z-index: 0;
            left: 50%;
            margin-left: -4px; /* set this value of 1/2 marker width */
            top: 0
        }

        &:after {
            transform: rotate(90deg)
        }

        .marker {
            background: gray;
            width: 6px; /* width of all other markers */
            margin-left: -3px; /* set this value of 1/2 marker width */

            &.oneseven {
                transform: rotate(30deg)
            }

            &.twoeight {
                transform: rotate(60deg)
            }

            &.fourten {
                transform: rotate(120deg)
            }

            &.fiveeleven {
                transform: rotate(150deg)
            }
        }

        .inner_face {
            position: relative;
            width: 88%;
            height: 88%;
            background: white;
            border-radius: 1000px;
            z-index: 1000;
            left: 6%; /* set this value of 1/2 width value*/
            top: 6%; /* set this value of 1/2 height value*/

            &:before {
                /* clock center circle small */
                content: "";
                width: 18px; /* width of inner circle */
                height: 18px; /* height of inner circle */
                border-radius: 18px;
                margin-left: -9px; /* set this value of 1/2 width value*/
                margin-top: -9px; /* set this value of 1/2 height value*/
                background: black;
                position: absolute;
                top: 50%;
                left: 50%;
            }

            .hand, .hand.hour {
                position: absolute;
                width: 4px; /* width of hour hand */
                height: 30%; /* height of hour hand */
                top: 20%; /* set top to 50% - height */
                left: 50%;
                margin-left: -2px; /* set this value to 1/2 width */
                background: black;
                transform: rotate(0deg);
                transform-origin: bottom;
                z-index: -1;
                box-shadow: 0 0 3px gray
            }

            .hand.minute {
                height: 45%; /* height of min hand */
                top: 5%; /* set top to 50% - height */
                width: 5px; /* width of min hand */
                margin-left: -2.5px; /* set this value to 1/2 width */
            }

            .hand.second {
                height: 50%; /* height of sec hand */
                width: 2px; /* width of sec hand */
                margin-left: -1px; /* set this value to 1/2 width */
                top: 0;
                background: red
            }
        }

    }

    .date {
        position: absolute;
        font-size: 60px;
        bottom: 40px;
        left: 0;
        right: 0;
    }
}