.tram-view {
	width: 960px;
	height: 540px;
	top: 0;
	left: 480px;

	.schedule {
		position: absolute;
		top: 40px;
		left: 40px;
		right: 60px;

		> table {
			width: 100%;
			margin: auto;
			color: #e7993d;
			font-size: 45px;
			table-layout: fixed;

			td {
				padding: 4px;
				vertical-align: top;

				&.train {
					text-align: right;
					width: 150px;
					padding-right: 40px;
				}

				&.delay {
					text-align: right;
					width: 120px;
				}

				&.departure {
					text-align: right;
					width: 160px;
				}
			}
		}
	}
}