@import "compass/reset";

@import "views/connection-status";
@import "views/bitcoin";
@import "views/tram";
@import "views/clock";
@import "views/weather";
@import "views/rain-forecast";
@import "views/giphy-trending";
@import "views/currently-playing";
@import "views/network-connectivity";

* {
	box-sizing: border-box;
}

html, body {
	overflow: hidden;
    font-family: sans-serif;
    font-weight: 100;
}

#dashboard {
	width: 1920px;
	height: 1200px;
	background: #000;
	position: relative;
}

.dashboard-item {
	display: inline-block;
    position: absolute;
    overflow: hidden;
    color: #fff;

    &:after {
    	position: absolute;
    	content: '';
    	display: block;
    	height: 1px;
    	background-color: #777;
    	bottom: 1px;
    	left: 20px;
    	right: 20px;
    	z-index: 1;
    }
}

.key-value-pairs {
  width: 480px;
  height: 540px;

  font-size: 45px;
  padding: 40px 20px;

  > .ember-view {
    width: 100%;

    table {
      width: 100%;
      margin-bottom: 53px;

      th, td {
        padding: 4px;
      }

      td {
        text-align: right;
      }
    }
  }


}
